.albumListAlbumCover {
    width: 100px;
    height: 100px;
    margin: 5px;
}

#header {
    background-color: black;
    height: 15%;
}

#bandImage {
    width: 200px;
    height: 200px;
    margin: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 10px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#loginbtn {
    margin-right: 20px;
}

.profileImage {
 display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #ffffff;
}

/* ratiting css */

.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}


/* ----------------------*/

.navbar-simple .brand {
 	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-simple .navbar-inner {
	background: #fff;
	filter: none !important;
	box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-simple .navbar-inner .nav {
	float: right;
}
.navbar-simple .navbar-inner .nav li a {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #777;
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
}
.navbar-simple .navbar-inner .nav li a:hover {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #bf3604;
}		
.navbar-simple .navbar-inner .nav li.active a {
	color: #bf3604;
}

#statPie {
    width: 33.3%;
    height: 33.3%;
}

/*----------------------------------------------*/

.albumDetailAlbumArt {
    width: 250px;
    height: 250px;
    float:right;
}

.active {
    background-color: #EEE
}

.spinner{
    position: absolute;
    display: block;
    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner2{
  position: fixed;
  top:0;
  left:0;
  display:table;
  pointer-events: none;
  z-index:9999;
}

.searchNavigation{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.spin{
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:table;
  pointer-events: none;
  z-index:9999;
}